@using Webbanhang.Models
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Adminlayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-primary" href="@Url.Action("TaoMoi", "QuanLySanPham")" style="margin-left:28px">Thêm mới</a>
    </div>
</div>
@grid.GetHtml(
    tableStyle: "Table",
    headerStyle: "GirdHead",
    footerStyle: "GirdFooter",
    rowStyle: "girdRow",
    alternatingRowStyle: "girdAltRow",
    columns: grid.Columns(
    grid.Column("IDSP", "Mã sản phẩm"),
    grid.Column("TenSP", "Tên sản phẩm"),
    grid.Column("DonGia", "Đơn giá", format: p => Html.Raw(p.DonGia)),
    grid.Column("SoLuongTon", "Số lượng tồn", format: p => Html.Raw(p.SoLuongTon)),
    grid.Column("CauHinh", "Cấu hình", format: p => @Html.Raw(p.CauHinh)),
    grid.Column("HinhAnh1", "Hình ảnh", format: p => Html.Raw("<img src =\"../assets/images/product/" + p.HinhAnh1 + "\" style=\"width:50px;height:50px;\">")),
    grid.Column("Chức năng", format: p => Html.ActionLink("Chỉnh sửa", "ChinhSua", new { id = p.IDSP })),
    grid.Column("Chức năng", format: p => Html.ActionLink("Xóa", "Xoa", new { id = p.IDSP }))
    ))
   
<style>
    .Table {
        width: 95%;
        border-collapse: collapse;
        background-color: #ffffff;
        font-size: 14px;
        margin-left: 35px;
        border: 2px solid #f1f1f1;
    }

    .GirdHead {
        background-color: #ffffff;
        color: #fff;
        font-weight: bold;
        border: 2px solid #f1f1f1;
    }

        .GirdHead th {
            padding: 8px;
            border-right: 2px solid #f1f1f1; /* Viền cho hàng dọc (cột) */
        }

    .girdRow {
        background-color: #fff;
    }

    .girdAltRow {
        background-color: #f9f9f9;
    }

    .girdRow, .girdAltRow {
        border-bottom: 1px solid #ddd;
    }

        .girdRow td, .girdAltRow td {
            padding: 8px;
            border-right: 2px solid #f1f1f1; /* Viền cho hàng dọc (cột) */
        }

    .GirdFooter {
        text-align: center;
        font-size: 20px;
    }

        .GirdFooter a {
            background: #4e73df;
            color: white;
            margin: 0 10px;
            border-radius: 5px;
            padding: 0 5px;
        }
</style>

