
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Views/Layout/Adminlayout.cshtml";
}

<h2>Bạn không đủ quyền truy cập vào trang này, vui lòng trở về trang chủ @Html.ActionLink("Trở về","Index1","Admin", null,null)</h2>

