<div class="header-bottom bg-polo-blue header-sticky stick">
    <div class="container">
        <div class="row">
            <!-- Begin Category Menu Area -->
            <div class="col-lg-3 col-md-5 col-sm-6">
                <!--Category Menu Start-->
                <div class="category-menu category-menu-hidden">
                    <div class="category-heading">
                        <h2 class="categories-toggle"><span>TẤT CẢ DANH MỤC</span></h2>
                    </div>
                    <div id="cate-toggle" class="category-menu-list">
                        <ul>
                            <li class="right-menu">                            
                                <a href="~/Home/tiviPhukien">
                                   
                                        <span>
                                            <img src="~/assets/images/category-thumb/1.png"
                                                 alt="Category-thumb">
                                        </span>Tivi,Phụ kiện
                                    
                                </a>
                                <ul class="cat-mega-menu">
                                    <li class="right-menu cat-mega-title">
                                        <a href="shop-left-sidebar.html">Tivi</a>
                                        <ul>
                                            <li><a href="~/Home/samsung">Samsung</a></li>
                                            <li><a href="~/Home/LG">LG</a></li>
                                            <li><a href="~/Home/Sony">Sony</a></li>                                         
                                        </ul>
                                        <a class="cat-mega-title-2 pt-30 pt-sm-10 pt-xs-10"
                                           href="shop-left-sidebar.html">Phụ kiện Tivi</a>
                                        <ul>
                                            <li><a href="#"></a></li>
                                            <li><a href="~/Home/CapHDMI">Cáp HDMI, cáp Tivi</a></li>
                                            <li><a href="~/Home/dieukhien">Điều khiển Tivi</a></li>
                                            <li><a href="~/Home/androidtv">Android TV Box</a></li>
                                            <li><a href="~/Home/khungtv">Khung treo Tivi</a></li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </li>
                            
                            <li class="right-menu">
                                <a href="~/Home/Dogiadung">
                                    <span>
                                        <img src="~/assets/images/category-thumb/3.png"
                                             alt="Category-thumb">
                                    </span>Đồ gia dụng
                                </a>
                                <ul class="cat-mega-menu cat-mega-menu-2">
                                    <li class="right-menu cat-mega-title">
                                        <a href="shop-left-sidebar.html">Tủ lạnh</a>
                                        <ul>
                                            <li><a href="~/Home/TulanhSamsung">Samsung</a></li>
                                            <li><a href="~/Home/TulanhAqua">Aqua</a></li>
                                            <li><a href="~/Home/TulanhToshiba">Toshiba</a></li>
                                            <li><a href="~/Home/TulanhLG">LG</a></li>                                         
                                        </ul>
                                        <a class="cat-mega-title-2 pt-30"
                                           href="shop-left-sidebar.html">Nồi,bếp</a>
                                        <ul>
                                            <li><a href="~/Home/noicom">Nồi cơm</a></li>
                                            <li><a href="~/Home/noichien">Nồi chiên</a></li>
                                            <li><a href="~/Home/bepdien">Bếp điện</a></li>                                        
                                            <li><a href="~/Home/maylocnuoc">Máy lọc nước</a></li>                                          
                                        </ul>
                                    </li>                                 
                                    
                                </ul>
                            </li>                             
                        </ul>
                    </div>
                </div>
                <!--Category Menu End-->
            </div>
            <!-- Category Menu Area End Here -->
            <!-- Begin Header Bottom Menu Area -->
            <div class="col-lg-9 d-none d-lg-block d-xl-block position-static">
                <!-- FB's Navigation -->
                <nav class="fb-navigation">
                    <ul>
                        <li class="dropdown-holder active">
                            <a href="~/Home/Index">Home</a>
                            <ul class="hb-dropdown">
                                <li class="active">
                                    <a href="~/Khachhang/Khachhang">
                                        <i class="ion ion-ios-home"></i>
                                        Danh sách khác hàng
                                    </a>
                                </li>
                                <li>
                                    <a href="index-2.html">
                                        <i class="ion ion-ios-home"></i> Home Version
                                        2
                                    </a>
                                </li>
                                <li>
                                    <a href="index-3.html">
                                        <i class="ion ion-ios-home"></i> Home Version
                                        3
                                    </a>
                                </li>
                                <li>
                                    <a href="index-4.html">
                                        <i class="ion ion-ios-home"></i> Home Version
                                        4
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="~/Home/tivi">Tivi</a>
                        </li>
                        <li>
                            <a href="~/Home/Tulanh">Tủ lạnh</a>

                        </li>
                        <li>
                            <a href="~/Home/maylocnuoc">Máy lọc nước</a>
                        </li>
                        <li>
                            <a href="~/Home/noicom">Nồi cơm</a>
                        </li>
                        <li>
                            <a href="~/Home/noichien">Nồi chiên</a>
                        </li>
                        <li>
                            <a href="~/Home/bepdien">Bếp điện</a>
                        </li>
                    </ul>
                </nav>
                <!--FB's Navigation -->
            </div>
            <!-- Header Bottom Menu Area End Here -->
        </div>
        <div class="row">
            <!-- Begin Mobile Menu Area -->
            <div class="mobile-menu-area d-lg-none d-xl-none col-12">
                <div class="mobile-menu"></div>
            </div>
            <!-- Mobile Menu Area End Here -->
        </div>
    </div>
</div>
