<div class="slider-with-banner pt-30">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-9">
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left  animation-style-01 bg-1">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h2>Big Sale</h2>
                                <h3>Up To 50% Off</h3>
                                <h5>All Selected Items</h5>
                                <div class="default-btn slide-btn">
                                    <a class="fb-links fb-links-round" href="shop-left-sidebar.html">
                                        Shop
                                        Now
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-2">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h2>Win 1 Off 4</h2>
                                <h3>Bakery Mixers</h3>
                                <h5>Each Valued At $749.35</h5>
                                <div class="default-btn slide-btn">
                                    <a class="fb-links fb-links-round" href="shop-left-sidebar.html">
                                        Shop
                                        Now
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <div class="col-lg-3">
                <div class="row">
                    <!-- Begin FB's Banner Area -->
                    <div class="col-lg-12 col-sm-6">
                        <div class="fb-banner fb-img-hover-effect pt-sm-30 pt-xs-30">
                            <a href="#">
                                <img src="~/assets/images/banner/1_1.jpg" alt="FB'S Banner">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6">
                        <div class="fb-banner fb-img-hover-effect pt-30">
                            <a href="#">
                                <img src="~/assets/images/banner/1_2.jpg" alt="FB'S Banner">
                            </a>
                        </div>
                    </div>
                    <!-- FB's Banner Area End Here -->
                </div>
            </div>
        </div>
    </div>
</div>